* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-image: url(/asserts/img/landing_page.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

main {
    width: 95%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}
/* ===============================
Landing Page Heading and Navigation.
============================ */

.heading {
    height: 360px;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    position: absolute;
    color: rgb(96, 85, 107);
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    /* right: 0; */
}

.logo h1 {
    position: fixed;
}

#navigation{
    float:right ;
    padding-top: 0.4em;
}

#navigation a {
    /* display: block; */
    z-index: 1;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left: 0.4em;
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
    margin-top: 0.2em;
    margin-right: 0.2em;
    transition: 0.5s all;
}
#navigation a:hover {
    cursor: pointer;
    font-weight: 100;
    letter-spacing: .04em;
}
/* ===================================================
Head Design
================================================================= */

.name {
    height: 300px;
    padding-top: 8em;
    text-align: center;
}

.name h1 {
    font-weight: 100;
    font-size: 35px;
    color: rgb(0, 215, 253);
}
.name h4 {
    letter-spacing: 0.05em;
    font-weight: 189;
    font-size: 23px;
}

.name p {
    font-size: 18px;
    font-weight: 100;
    text-transform: capitalize;
}

/* ==================================================

Design Resume button
============================================== */


.resume {
    padding-top: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: white;
    letter-spacing: 0.1em;
    border-radius: 12px;
    margin-left:2em;
    border: none;
}

.resume {
    padding: 0.5em;
    width: 25%;
    border: 1px solid white;
    transition: 0.5s all;
}
.resume:hover {
    border:0.02em solid rgb(0, 215, 253);
    color: rgb(202, 247, 247);
    width: 24%;
    letter-spacing: 0.01em;
}
.resume:active {
    border:0.02em solid rgb(0, 215, 253);
    color: rgb(202, 247, 247);
    width: 24%;
    letter-spacing: 0.01em;
}

/* =======================================
About Me design
=======================================" */

.about {
    background-image: url(/asserts/img/about_me.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.grid_view {
    background-color: rgba(0, 0, 0, 0.6);
}

#about_me h5 {
    font-weight: 100;
    font-family:'Times New Roman', Times, serif;
    font-size: 27px;
    color: rgb(0, 215, 253);
    padding:0.1em;
    margin-left:0.5em;
}

#about_me p {
    width: 70%;
    margin-left: 5em;
    text-align: justify;
    line-height: 1em;
    font-size: 19px;
    padding-bottom: 1em;
    z-index: 1;
    color: whitesmoke;
}


/* *************************************************
SKilss Design
************************************************************ */


.skills {
    background-color: rgba(8, 8, 14, 0.4);
    height: 500px;
}

.grid_skills {
    display: grid;
    grid-template-columns:  auto auto;
    grid-gap: 0.5em;
}

#skill {
    width: 90%;
    height: 120px;
    margin: auto;
    margin-bottom: 1em;
    background-color: rgba(255, 255, 255, 0.07);
    /* transform: translate(-50%, -50%); */
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    backdrop-filter: blur(10px);
}
#skill img {
    width: 100%;
    margin: auto;
    position: absolute;
    height: 60px;
    background: transparent;
}

#skill h4 {
    margin-top: 3.1em;
    text-align: center;
    font-weight: 100;
    padding-bottom: 0em;
}

#credentials {
    margin-top: 2em;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: white;
    letter-spacing: 0.1em;
    border-radius: 9px;
    margin-left:2em;
    border: none;
}
#credentials {
    width: 100%;
    margin: auto;
    padding: 0.5em;
    border: 1px solid white;
    transition: 0.5s all;
}
#credentials:hover {
    border:0.02em solid rgb(0, 215, 253);
    color: rgb(202, 247, 247);
    /* width: 95%; */
    margin: auto;
    letter-spacing: 0.01em;
}
#credentials:active {
    border:0.02em solid rgb(0, 215, 253);
    color: rgb(202, 247, 247);
    /* width: 95%; */
    margin: auto;
    letter-spacing: 0.01em;
}


